body {
    background-color: 00a3ff;
    font-family: sans-serif;
    }

table {
  background-color: rgb(255, 255, 255, .45);
  display: flex;
  flex-basis: 80ch;
  margin-left: 15ch;
  margin-right: 15ch;
}